* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

body{
    height: 100vh;
    width: 98.7vw;
    /* border: solid 15px green; */
}

.seccion_uno{
    height: 100%;
    width: 100%;
    /* border: solid 15px green; */
}

.contenedor_menu{
    /* border: solid 5px blue; */
    height: 10%;
    width: 101%;
}

.menu{
    /* border: solid 5px orange; */
    height: 100%;
    display: flex;
}

.contenedor_logo{
    width: 16.5%;
    /* border: solid 5px blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 80%;
}

.lista_opciones{
    /* border: solid 5px red; */
    width: 83.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.opcion_menu{
    /* border: solid 2px green; */
    width: 20%;
    text-align: center;
}

.imagen_producto{
    margin: 15px;
    padding: 40px;
    height: 90%;
}

.seccion-uno-uno{
    height: 90%;
    /* border: solid 8px purple; */
}

.contenedor-tarjetas{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tarjeta-producto{
    height: 98%;
    width: 20%;
    /* border: solid 3px purple; */
    background-color: #DDE1FA;
    border-radius: 10px;
}

.contenedor-caracteristicas{
    height: 18%;
    /* border: solid 3px red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado-dos{
    font-size: 15px;
}

.texto{
    font-size: 12px;
}

.contenedor-imagen-producto{
    height: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 3px blue; */
}

.imagen-producto{
    height: 90%;
}

.button{
    background-color: #22339D;
    color: #ffffff;
    border-radius: 5px;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    height: 85%;
}

.contenedor-botones{
    height: 15%;
    /* border: solid 5px green; */
    display: flex;
    justify-content: space-around;
}


/* @media screen and (max-width: 501px) {
    i{
        display: block;
    }
} */

