* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

body{
    height: 100vh;
    width: 98.7vw;
    /* border: solid 15px green; */
}

.seccion_uno{
    height: 100%;
    width: 100%;
    /* border: solid 15px green; */
}

.contenedor_menu{
    /* border: solid 5px blue; */
    height: 10%;
    width: 101%;
    background-color: black;
}

.menu{
    /* border: solid 5px orange; */
    height: 100%;
    display: flex;
}

.contenedor_logo{
    width: 16.5%;
    /* border: solid 5px blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.logo{
    height: 70%;
}

.lista_opciones{
    /* border: solid 5px red; */
    width: 83.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.opcion_menu{
    /* border: solid 2px green; */
    width: 20%;
    text-align: center;
    color: #ffffff;
}

.imagen_producto{
    margin: 15px;
    padding: 40px;
    height: 90%;
}

.seccion-uno-uno{
    height: 90%;
    /* border: solid 8px purple; */
    width: 100%;
}

.contenedor-imagen, .contenedor-descripcion {
    background-color: aqua;
    height: 80%;
    width: 80%;
    /* border-style: solid 5px red; */
}

.contenedor-tarjetas{
    height: 50%;
    width: 100vw;
    /* border: solid 2px green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tarjeta-producto{
    height: 95%;
    width: 23%;
    /* border: solid 3px purple; */
    background-color: #DDE1FA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-caracteristicas{
    height: 30%;
    /* border: solid 3px red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contenedorPrecio, .contenedorCodigoProducto, .contenedorCantidad{
    width: 100%;
    display: flex;
    justify-content: center;
}

.precio-producto, .codigo-producto, .cantidad-producto{
    margin-left: 5px;
}

.etiqueta{
    font-weight: bold;
}

.encabezado-dos{
    font-size: 15px;
}

.texto{
    font-size: 12px;
}

.contenedor-imagen-producto{
    height: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 3px blue; */
}

.imagen-producto{
    height: 99%;
}

.contenedor-botones{
    height: 12%;
    /* border: solid 5px green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: #D86ECC;
    color: #ffffff;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    height: 70%;
    border-style: none;
    margin-left: 1px;
}



/* @media screen and (max-width: 501px) {
    i{
        display: block;
    }
} */

